.login {
  background-color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  width: 200px;
  margin: 150px auto 20px auto;
  border-radius: 0 20px 0 20px;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #9946b2;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  outline: none;
  border: none;
  color: white;
}
