.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product > button {
  background: #9946b2;
  border: none;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  outline: none;
}

.product__rating {
  display: flex;
}
